name: Push dist

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  push-dist:
    name: Push dist
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - run: corepack enable  
      - name: Install Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version: 24.11.1
          cache: pnpm
      - name: Install Dependencies
        run: pnpm install
      - name: Build
        run: pnpm build
      - name: Push to dist branch
        uses: kategengler/put-built-npm-package-contents-on-branch@a8f939b1c3a57b62efbc5d73685f55e97db734bb # v2.1.0
        with:
          branch: dist
          token: ${{ secrets.GITHUB_TOKEN }}