name: Push dist

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  push-dist:
    name: Push dist
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 
        with:
          egress-policy: audit
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 
      - name: Install Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: 22.x
          cache: yarn
      - name: Install Dependencies
        run: yarn install --immutable
      - name: Build
        run: yarn build
      - name: Push to dist branch
        uses: kategengler/put-built-npm-package-contents-on-branch@a8f939b1c3a57b62efbc5d73685f55e97db734bb # v2.1.0
        with:
          branch: dist
          token: ${{ secrets.GITHUB_TOKEN }}